body {
  font-famly: sans-serif;
  color:rgb(68, 70, 70); 
}
h1 {
  text-align: center;
  font-family: fantasy;
  color: darkslategray
}
h2 {
  font-family: monospace;
  text-decoration: underline wavy;
  color: chocolate
}
p {
  letter-spacing: 1.5px
}