
body {
  color:#0366D6; 
  margin: 225px;
  background-color: antiquewhite;
}
img{
  float: right;
  height: 100px;
  border-style: solid;
  border-radius: 8px;
  margin: 10px;
}
h1 {
  text-align: center;
  font-family: Helvetica;
  color: darkslategray
}
h2 {
  font-family: monospace;
  text-decoration: underline wavy;
  color: chocolate
}
p {
  letter-spacing: 1.5px
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  grid-gap: 2px;
  padding: 5px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.item-5 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 4;
}
